name: test

on:
  push:
    branches: [main, master]
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest]
        toolchain: [nightly]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: brndnmtthws/rust-action@v1
        with:
          toolchain: ${{ matrix.toolchain }}

      - name: copy assets
        run: |
          mkdir -p ./crates/bevy_burn_human/assets
          cp -R ./assets/. ./crates/bevy_burn_human/assets/

      - name: Cargo test
        run: cargo test --all
